/* 
____________________________________________________________________________________________________________________________

                                  Общие настройки стилей для всего веб-приложения
____________________________________________________________________________________________________________________________

*/
body {
  background-color: rgb(61, 115, 221);
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}


/* 
____________________________________________________________________________________________________________________________

                                    Настройки стилей для компонента MainHeader.js
____________________________________________________________________________________________________________________________

*/
header{
  background-color: rgb(61, 115, 221);
}
.header_block{
  margin-top: 0.5em;
  margin-left: 0,5em;
  margin-bottom: 1em;
}
.span_burger_icon{
  margin-top: 0.25em;
  margin-left: 0,25em;
}
.icon{
  color: white;
  font-size: 45px;
  cursor: pointer;
}
/* 
____________________________________________________________________________________________________________________________

                                    Настройки стилей для компонента MainFooter.js
____________________________________________________________________________________________________________________________

*/